  *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body{
            width: 100vw;
            height: 100vh;
            background-color: skyblue;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .container{
            background-color: darkblue;
            display: grid;
            grid-template-columns: repeat(3, auto);
        }
        .box{
            width: 80px;
            height: 80px;
            border: 8px solid black;
            border-radius: 5px;
        }
        .sts{
            padding: 15px;
            font-size: 20px;
        }
        #btn{
            background-color: indianred;
            border: 12px ;
            cursor: pointer;
        }
        .winner{
            animation: winneranimation ease-in-out 1s infinite;
        }
        @keyframes winneranimation{
            0%{background-color: yellowgreen;}
            100%{background-color: limegreen;}
        }
         .center-text {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            margin: 0;
            color: white;
        }